### **Ejercicios Python**

**Ejercicio 1:** Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [25]:
x= 1852645
print("Britany Ovalle Salas",x)

Britany Ovalle Salas 1852645

In [7]:
#Ejercicio 1: Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.
nombre= str(input("Introduce tu nombre:"))
mat=int(input("Introduce tu matricula:"))
print(nombre,mat,sep=" ")

Introduce tu nombre:Britany Ovalle Salas
Introduce tu matricula:1852645
Britany Ovalle Salas 1852645

**Ejercicio 2:** Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [23]:
a=int(input("Introduce un número:"))
b=int(input("Introduce el segundo número:"))
suma= a+b
resta= a-b
multiplicación = a*b
exponente= a**b
division=round(a/b,3)
print("Suma=",suma)
print("Resta=",resta)
print("Multiplicación=",multiplicación)
print("División",a,"/" ,b,"=", division, )
print("Exponenciación", a,"^",b ,"=",1exponente)

Introduce un número:10
Introduce el segundo número:2
Suma= 12
Resta= 8
Multiplicación= 20
División 10 / 2 = 5.0
Exponenciación 10 ^ 2 = 100

**Ejercicio 3:** Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [193]:
lista = [0,0,0,0,0,0,0,0,0,0]
for i in range(1,11):
    lista[i-1] = i*3

print("Lista de 10 numeros multiplos de 3:")
for i in range(1,11):
    print ( lista[i-1] )

print("Suma total:",sum(lista))

Lista de 10 numeros multiplos de 3:
3
6
9
12
15
18
21
24
27
30
Suma total: 165

**Ejercicio 4**

*   Con una función de if else, revisar si un número es par o es impar.
*   Con una función de if else, revisar si un número es primo o no.

ref: https://ellibrodepython.com/numeros-primos-python#:~:text=Para%20determinar%20si%20un%20n%C3%BAmero,es%20primo%20y%20devolvemos%20False%20.

In [276]:

a=int(input("Introduce un número: "))
if a%2 ==0:
  print("El número es par")
else:
  print("El número es impar")

for i in range(2, a):
        if a % i == 0:
            print("No es primo", i, "es divisor")
            break
        else: 
            print("Es primo")
            break

Introduce un número: 5
El número es impar
Es primo

**Ejercicio 5:** Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

Ref:https://www.sanfoundry.com/python-program-class-performs-basic-calculator-operations/

In [294]:
class calculadora():
    def __init__(var,a,b):
        var.a=float(a)
        var.b=float(b)
    def suma(var):
        return var.a+var.b
    def Resta(var):
        return var.a-var.b
    def Multiplicacion(var):
        return var.a*var.b
    def Division(var):
        return var.a/var.b
    def Exponente(var):
        return var.a**var.b

a=int(input("Introduce un número: "))
b=int(input("Introduce el segundo número: "))
obj= calculadora(a,b)
opcion=1
while opcion!=0:
    print("0. Exit")
    print("1. Suma")
    print("2. Resta")
    print("3. Multiplicación")
    print("4. División")
    print("5. Exponente")
    opcion=int(input("Selecciona una opción: "))
    if opcion==1:
        print("Suma= ",obj.suma())
    elif opcion==2:
        print("Resta= ",obj.Resta())
    elif opcion==3:
        print("Multiplicación= ",obj.Multiplicacion())
    elif opcion==4:
        print("División= ",round(obj.Division(),2))
    elif opcion==5:
        print("Exponente= ",obj.Exponente())
    elif opcion==0:
        print("Exiting!")
    else:
        print("Opción invalida")
 
 
print()

Introduce un número: 10
Introduce el segundo número: 5
0. Exit
1. Suma
2. Resta
3. Multiplicación
4. División
5. Exponente
Selecciona una opción: 1
Suma=  15.0
0. Exit
1. Suma
2. Resta
3. Multiplicación
4. División
5. Exponente
Selecciona una opción: 0
Exiting!

## **Ejercicios con estructuras básicas de python**

**Tuplas**


*   Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [317]:
a=3.1415
b=4
c=False
d=5j+ 3

print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'float'>
<class 'int'>
<class 'bool'>
<class 'complex'>

* Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [323]:
x= (5,4,7,8,9)
print ("El primer valor es:",x[0])
print ("El último valor es:", x[4])

El primer valor es: 5
El último valor es: 9

* Añadir 3 valores de string a la tupla.

In [337]:
x=(5,4,7,8,9)
x.append(150)
x.append(200)
x.append(500)
x
#LAS TUPLAS NO SON MODIFICABLES

AttributeError: ignored

* Verificar si una variable existe dentro de la tupla.

In [338]:
x=(5,4,7,8,9)
5 in x

True

**Listas**

* Crear una lista con 40 elementos aleatorios enteros.

In [375]:
import random as r
lista = []
for i in range(1,41):
    lista.append(r.randint(1, 100))
print (lista)
len(lista)

[100, 5, 82, 58, 81, 91, 69, 25, 82, 51, 98, 48, 3, 4, 34, 50, 68, 46, 8, 97, 58, 29, 71, 30, 72, 27, 79, 97, 72, 83, 4, 75, 100, 83, 68, 7, 34, 90, 53, 15]

40

* Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

* Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

* Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

* Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [403]:
import random as r
lista=[]
for i in range(0,40):
  lista.append(r.randint(1,100))
print("Lista original",lista)

#Nuevas listas 
def NuevasListas(lista):
  ListaPares=[]
  ListaImpares=[]

  for i in range(0,40):
    if lista[i]%2==0:
      ListaPares.append(lista[i])
    else:
      ListaImpares.append(lista[i])

#Variables para longitudes
  LP=len(ListaPares)
  print("Elementos en la lista de pares:",LP)
  LI=len(ListaImpares)
  print("Elementos en la lista de impares:",LI)
#Lista de Pares de mayor a menor
  ListaPares.sort(reverse=True)
  print("Lista de pares de mayor a menor",ListaPares)
#Lista de Impares de menor a mayor
  ListaImpares.sort()
  print("Lista de pares de menor a mayor",ListaImpares)
  

print("Listas nuevas")
print(NuevasListas(lista))

Lista original [70, 16, 29, 28, 92, 99, 23, 88, 41, 84, 100, 88, 82, 99, 99, 9, 21, 12, 76, 66, 77, 23, 57, 93, 9, 60, 92, 22, 29, 82, 3, 89, 79, 84, 3, 49, 27, 86, 74, 47]
Listas nuevas
Elementos en la lista de pares: 19
Elementos en la lista de impares: 21
Lista de pares de mayor a menor [100, 92, 92, 88, 88, 86, 84, 84, 82, 82, 76, 74, 70, 66, 60, 28, 22, 16, 12]
Lista de pares de menor a mayor [3, 3, 9, 9, 21, 23, 23, 27, 29, 29, 41, 47, 49, 57, 77, 79, 89, 93, 99, 99, 99]
None

* Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [412]:
import random as r
lista=[]
for i in range(0,40):
  lista.append(r.randint(1,100))
print("Lista original",lista)

#Función reversa
lista.reverse()
print("Lista con función reversa:",lista)

#Función pop
lista.pop()
print("Lista sin el último elemento:",lista)

#Función Sort
lista.sort()
print("Lista ordenada ascendentemente:",lista)

#Función Insert
lista.insert(41,10)
print("Lista con nuevo elemento en posición 41:",lista)

Lista original [99, 9, 14, 56, 53, 33, 43, 13, 81, 85, 41, 44, 89, 33, 43, 79, 16, 70, 9, 77, 72, 32, 94, 56, 41, 96, 92, 1, 90, 39, 25, 52, 19, 74, 15, 45, 93, 97, 51, 55]
Lista con función reversa: [55, 51, 97, 93, 45, 15, 74, 19, 52, 25, 39, 90, 1, 92, 96, 41, 56, 94, 32, 72, 77, 9, 70, 16, 79, 43, 33, 89, 44, 41, 85, 81, 13, 43, 33, 53, 56, 14, 9, 99]
Lista sin el último elemento: [55, 51, 97, 93, 45, 15, 74, 19, 52, 25, 39, 90, 1, 92, 96, 41, 56, 94, 32, 72, 77, 9, 70, 16, 79, 43, 33, 89, 44, 41, 85, 81, 13, 43, 33, 53, 56, 14, 9]
Lista ordenada ascendentemente: [1, 9, 9, 13, 14, 15, 16, 19, 25, 32, 33, 33, 39, 41, 41, 43, 43, 44, 45, 51, 52, 53, 55, 56, 56, 70, 72, 74, 77, 79, 81, 85, 89, 90, 92, 93, 94, 96, 97]
Lista con nuevo elemento en posición 41: [1, 9, 9, 13, 14, 15, 16, 19, 25, 32, 33, 33, 39, 41, 41, 43, 43, 44, 45, 51, 52, 53, 55, 56, 56, 70, 72, 74, 77, 79, 81, 85, 89, 90, 92, 93, 94, 96, 97, 10]

**Diccionarios**

* Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

* Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

* Usando el diccionario y un loop, imprimir solo los nombres.

* Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [487]:
#diccionario
dict1={'Luisa':21, 'Delfino':20, 'Milton':20, "Victor":20, "Alberto":21, "Andrea":20}
print("Diccionario",dict1)

#lista con edades de menor a mayor
print("Edades menor a mayor")
print(sorted(dict1.values()))

#solo nombres
print("imprimir solo los nombres.")
for key, value in dict1.items():
  print(key)

#añadir personas
dict1['Arisbel']='25'
dict1['Gilda']='48'
dict1

Diccionario {'Luisa': 21, 'Delfino': 20, 'Milton': 20, 'Victor': 20, 'Alberto': 21, 'Andrea': 20}
Edades menor a mayor
[20, 20, 20, 20, 21, 21]
imprimir solo los nombres.
Luisa
Delfino
Milton
Victor
Alberto
Andrea

{'Alberto': 21,
 'Andrea': 20,
 'Arisbel': '25',
 'Delfino': 20,
 'Gilda': '48',
 'Luisa': 21,
 'Milton': 20,
 'Victor': 20}

**Sets**

* Crea un set con 100 numeros aleatorios enteros del 1 al 25.

* Comprueba la longitud de tu set.

* Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [521]:
import random as r
set1={1}
for i in range(0,100):
  set1.add(r.randint(1,25))
print(set1)
print("Longitud del set=",len(set1))

list=[]
for i in range(0,5):
  list.append(r.randint(1,10))
print(list)

for i in range(0,5):
  print(list[i],"is in set1" ,list[i] in set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}
Longitud del set= 25
[10, 1, 7, 7, 8]
10 is in set1 True
1 is in set1 True
7 is in set1 True
7 is in set1 True
8 is in set1 True